/* livvic-100 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/livvic-v14-latin-100.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* livvic-100italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Livvic';
  font-style: italic;
  font-weight: 100;
  src: url('../fonts/livvic-v14-latin-100italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* livvic-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/livvic-v14-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* livvic-200italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Livvic';
  font-style: italic;
  font-weight: 200;
  src: url('../fonts/livvic-v14-latin-200italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* livvic-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/livvic-v14-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* livvic-300italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Livvic';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/livvic-v14-latin-300italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* livvic-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/livvic-v14-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* livvic-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Livvic';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/livvic-v14-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* livvic-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/livvic-v14-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* livvic-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Livvic';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/livvic-v14-latin-500italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* livvic-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/livvic-v14-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* livvic-600italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Livvic';
  font-style: italic;
  font-weight: 600;
  src: url('../fonts/livvic-v14-latin-600italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* livvic-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/livvic-v14-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* livvic-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Livvic';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/livvic-v14-latin-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* livvic-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/livvic-v14-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* livvic-900italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Livvic';
  font-style: italic;
  font-weight: 900;
  src: url('../fonts/livvic-v14-latin-900italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/*
	Phantom by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}

mark {
	background-color: transparent;
	color: inherit;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input, select, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

/* Basic */

	@-ms-viewport {
		width: device-width;
	}

	body {
		-ms-overflow-style: scrollbar;
	}

	@media screen and (max-width: 480px) {

		html, body {
			min-width: 320px;
		}

	}

	html {
		box-sizing: border-box;
	}

	*, *:before, *:after {
		box-sizing: inherit;
	}

	body {
		background: #c7bcb5;
	}

		body.is-preload *, body.is-preload *:before, body.is-preload *:after {
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
		}

/* Type */

	body, input, select, textarea {
		color: #020516;
		font-family: "Livvic", sans-serif;
		font-size: 18pt;
		font-weight: 400;
		line-height: 1.75;
		
		
	}

		@media screen and (max-width: 1680px) {

			body, input, select, textarea {
				font-size: 14pt;
			}

		}

		@media screen and (max-width: 1280px) {

			body, input, select, textarea {
				font-size: 12pt;
			}

		}

	a {
		-moz-transition: border-bottom-color 0.2s ease, color 0.2s ease;
		-webkit-transition: border-bottom-color 0.2s ease, color 0.2s ease;
		-ms-transition: border-bottom-color 0.2s ease, color 0.2s ease;
		transition: border-bottom-color 0.2s ease, color 0.2s ease;
		text-decoration: none;
		color: #000000;
		
	}

		a:hover {
			border-bottom-color: transparent;
			color: #ca8a62 !important;
		}

	strong, b {
		font-weight: 900;
	}

	em, i {
		font-style: italic;
	}

	p {
		margin: 0 1em 2em 1em;
		
		
	}

	small {
		font-size: 0.7em;
	}

	h1 {
		font-size: 1.8em;
		font-weight: 700;
		line-height: 1;
		
		letter-spacing: -0.035em;
	}

		h1 a {
			color: inherit;
		}

		@media screen and (max-width: 736px) {

			h1 {
				font-size: 1.5em;
				
			}

		}

		@media screen and (max-width: 360px) {

			h1 {
				font-size: 1.75em;
			}

		}

	h2, h3, h4, h5, h6 {
		font-weight: 900;
		line-height: 1.5;
		margin: 0 0 2em 0;
		
		letter-spacing: 0.35em;
	}

		h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
		}

	h2 {
		font-size: 1.1em;
		text-transform: uppercase;
	}

	h3 {
		font-size: 1.5em;
		font-weight: 700;
		line-height: 1;
		margin: 0 0 0.2em 0;
		letter-spacing: -0.035em;
	}

	h4 {
		font-size: 0.8em;
	}

	h5 {
		font-size: 0.8em;
	}

	h6 {
		font-size: 0.8em;
	}

	@media screen and (max-width: 980px) {

		
	}



/* Section/Article */

	section.special, article.special {
		text-align: center;
	}

	

	@media screen and (max-width: 736px) {

		header p {
			margin-top: 0;
		}

	}

/* Tags */

	.tag {
		box-sizing: border-box;
		background-color: #ca8a62;
		border-radius: 12px;
		font-size: 0.7em;
		padding: 0.2em 0.4em;
		margin-right: 0.5em;
		
		
		
	}
	.tag a:hover {
			color: #c7bcb5 !important;
			
		}


/* Image */


.container {
  display: flex;
  align-items: center; /* vertically aligns text with image */
  gap: 4em; /* spacing between image and text */
}

.img {
  width: 100px;
  height: auto;
}

	.image {
		border-radius: 4px;
		border: 0;
		display: block;
		position: relative;
		
	}

		.image img {
			border-radius: 4px;
			display: block;
			width: 100%;
			
			
		}

		

		

			.image.left img, .image.right img {
				width: 100%;
			}

		.image.left {
			
			padding: 0 1.5em 1em 0;
			top: 0.25em;
		}

		.image.right {
			
			padding: 0 0 1em 1.5em;
			top: 0.25em;
		}

		.image.fit {
			display: block;
			margin: 0 0 2em 0;
			width: 100%;
		}

			.image.fit img {
				width: 100%;
			}

		.image.main {
			display: block;		
		}

			.image.main img {
				width: 100%;
				margin-bottom: 1em; 
			}

			@media screen and (max-width: 736px) {

				.image.main {
					margin: 0;
				}

			}
			.image-text {
				display: flex;
				align-items: center;
				gap: 0em;
				margin: 0em 0;
			}

			.image-text img {
				width: 100%;
				height: auto;
				border-radius: 18px;
				padding: 0.5em; 
			}

			.image-text .text {
				max-width: 50%;
				text-align: left;
				margin: 0; 
				
			}
			.image-text.reverse {
				flex-direction: row-reverse;
			}

			.image-row {
			display: flex;
			gap: 1em;
			justify-content: center; /* or space-between/space-around */
			flex-wrap: wrap; /* ensures stacking on smaller screens */
			}

			.image-row img {
			width: 48%;
			border-radius: 8px;
			object-fit: cover;
			}


			.video {
				display: block;
				margin: 0 auto 2em auto;
				
				max-width: 100%;
			}

/* Tiles */

		.tiles article {
			-moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
			-webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
			-ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
			transition: transform 0.5s ease, opacity 0.5s ease;
			position: relative;
			width: calc(60% - 2.5em);
			margin: 5em 5em 0 0;
			
		}
			.tiles article:nth-child(even) {
				margin-left: auto;
				/* Push to the right */
			}

			.tiles article:nth-child(odd) {
				margin-right: auto;
				/* Push to the left */
			}

			.small {
				width: 50% !important;
			}


			.tiles article > .image {
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				position: relative;
				display: block;
				width: 100%;
				border-radius: 4px;
				overflow: hidden;
			}

				.tiles article > .image img {
					display: block;
					width: 100%;
				}

				

			.tiles article > a {
				display: -moz-flex;
				display: -webkit-flex;
				display: -ms-flex;
				display: flex;
				-moz-flex-direction: column;
				-webkit-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;
				-moz-align-items: center;
				-webkit-align-items: center;
				-ms-align-items: center;
				align-items: center;
				-moz-justify-content: center;
				-webkit-justify-content: center;
				-ms-justify-content: center;
				justify-content: center;
				-moz-transition: background-color 0.5s ease, -moz-transform 0.5s ease;
				-webkit-transition: background-color 0.5s ease, -webkit-transform 0.5s ease;
				-ms-transition: background-color 0.5s ease, -ms-transform 0.5s ease;
				transition: background-color 0.5s ease, transform 0.5s ease;
				position: static;
				display: block; 
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				padding: 1em 0 0 0;
				border-radius: 4px;
				border-bottom: 0;
				color: #020516 !important;
				text-align: left;
				text-decoration: none;
				z-index: 3;
			}

				.tiles article > a > :last-child {
					margin: 0;
				}

				

				.tiles article > a h2 {
					margin: 0;
				}

				.tiles article > a .content {
					-moz-transition: max-height 0.5s ease, opacity 0.5s ease;
					-webkit-transition: max-height 0.5s ease, opacity 0.5s ease;
					-ms-transition: max-height 0.5s ease, opacity 0.5s ease;
					transition: max-height 0.5s ease, opacity 0.5s ease;
					width: 100%;
					max-height: 0;
					line-height: 1.5;
					opacity: 0;
				}

					.tiles article > a .content > :last-child {
						margin-bottom: 0;
					}

			.tiles article.style1 > .image:before {
				background-color: #f2849e;
			}

			.tiles article.style2 > .image:before {
				background-color: #7ecaf6;
				
			}

			.tiles article.style3 > .image:before {
				background-color: #7bd0c1;
			}

			.tiles article.style4 > .image:before {
				background-color: #c75b9b;
			}

			.tiles article.style5 > .image:before {
				background-color: #ae85ca;
			}

			.tiles article.style6 > .image:before {
				background-color: #8499e7;
			}

			body:not(.is-touch) .tiles article:hover > .image {
				-moz-transform: scale(1.1);
				-webkit-transform: scale(1.1);
				-ms-transform: scale(1.1);
				transform: scale(1.1);
			}

				body:not(.is-touch) .tiles article:hover > .image:before {
					background-color: #333333;
					opacity: 0.35;
				}

				body:not(.is-touch) .tiles article:hover > .image:after {
					opacity: 0;
				}

			body:not(.is-touch) .tiles article:hover .content {
				max-height: 15em;
				opacity: 1;
			}

		* + .tiles {
			margin-top: 2em;
		}

		body.is-preload .tiles article {
			-moz-transform: scale(0.9);
			-webkit-transform: scale(0.9);
			-ms-transform: scale(0.9);
			transform: scale(0.9);
			opacity: 0;
		}

		body.is-touch .tiles article .content {
			max-height: 15em;
			opacity: 1;
		}

		@media screen and (max-width: 1280px) {

			.tiles {
				margin: -1.25em 0 0 -1.25em;
			}

				.tiles article {
					width: calc(33.33333% - 1.25em);
					margin: 1.25em 0 0 1.25em;
				}

		}

		@media screen and (max-width: 980px) {

			.tiles {
				margin: -2.5em 0 0 -2.5em;
			}

				.tiles article {
					width: calc(50% - 2.5em);
					margin: 2.5em 0 0 2.5em;
				}

		}

		@media screen and (max-width: 736px) {

			.tiles {
				margin: -1.25em 0 0 -1.25em;
			}

				.tiles article {
					width: calc(50% - 1.25em);
					margin: 1.25em 0 0 1.25em;
				}

					.tiles article:hover > .image {
						-moz-transform: scale(1.0);
						-webkit-transform: scale(1.0);
						-ms-transform: scale(1.0);
						transform: scale(1.0);
					}

		}

		@media screen and (max-width: 480px) {

			.tiles {
				margin: 0;
			}

				.tiles article {
					width: 100%;
					margin: 1.25em 0 0 0;
				}

		}


/* Slideshow */

.slideshow-container {
  position: relative;
	  max-width: 100%;
  margin: 1em auto 0 auto;
}

.slide {
  display: none;
}

.slide img {
  width: 100%;
  border-radius: 8px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 0.2em;
  color: white;
  background-color: rgba(0,0,0,0.5);
  border-radius: 0 3px 3px 0;
  transform: translateY(-50%);
  font-size: 24px;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 4px;
  background-color: #9e9998;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.active, .dot:hover {
  background-color: #504f4e;
}

.fade {
  animation: fade 0.8s;
}

@keyframes fade {
  from { opacity: 0.4; }
  to { opacity: 1; }
}


/* Menu */


#menu {
  position: fixed;
  top: 0;
  padding: 0.5rem 0.5rem;
  z-index: 1000;
}

#menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; /* vertical layout */
  
}

#menu li {
  margin: 0;
}

#menu li a {
  font-weight: bold;
  color: #000000;
  padding: 0.5rem;
  
}

/* Name */
.menu.left {
  left: 0;

}

/* Menu */
.menu.right {
  right: 0;
  text-align: right;
}

/* Text */
#text {
	margin: 0em 10em 0em 0.5em; 
}

@media screen and (max-width: 736px) {
	#text {
		margin: 0em;
	}
}


/* Main */

	#main {
		padding: 0 ;
		position: relative;			
	}

	



		@media screen and (max-width: 736px) {

			#main {
				padding: 0em 0 4em 0 ;
			}

		}

/* Footer */
	#footer {
		padding: 12em 1.5em 1em 1.5em;
		text-align: center;
	}

		@media screen and (max-width: 736px) {

			#footer {
				padding: 10em 0em 2em 0em ;
			}

		}
	

	

/* Wrapper */

#wrapper > * > .impress {
		width: 100%;
		max-width: 68em;
		margin: auto;
		padding: 5em 16em;
		
	}

	#wrapper > * > .index {
		width: 100%;
		max-width: 68em;
		margin: auto;
		padding: 0 5em;
		
	}

	#wrapper > * > .about {
		width: 100%;
		max-width: 68em;
		margin: auto;
		padding: 5em 0 0 0;
		
	}

	#wrapper > * > .inner {
		width: 100%;
		max-width: 68em;
		margin: auto;
		padding: 0 8em;
		
	}

	
	
	


		@media screen and (max-width: 736px) {

			#wrapper > * > .index {
				padding: 5em 1em 0 ;
			}

			#wrapper > * > .inner {
				padding: 0 1.25em;
			}

			#wrapper > * > .impress {
				padding: 6em 1.25em 15em 1.25em;
			}

			#wrapper > * > .about {
				padding: 6em 1.25em 15em 1.25em;
			}

		}